<section class="section">
  <div class="row">
    <div class="columns">
      <div class="column is-one-third">
        <%= render 'rooms/room-list'%>

        <%= link_to "New Channel", new_room_path, class: 'button is-warning'%>

      </div>
      <div class="column is-two-third">
        <p>Join Channel that you love to talk about</p>

      </div>
    </div>
  </div>
</section>
