<section class="section">
  <div class="row">
    <div class="columns">
      <div class="channels column is-one-quarter">
        <%= render 'rooms/room-list'%>
      </div>
      <div class="welcome column is-three-quarters has-text-centered">
        <h3 class="title is-3">Welcome to Group Chat</h3>
        <p>Please select the channel to start a chat.</p>
        <p>Create A new channel, if you cannot find topic that you want to chat.</p>
        <p>Be respond to your chat and channel.</p>
        <p>Admin have a right to delete chats or channels.</p>

      </div>
    </div>
  </div>
</section>
