<section class="section">
  <div class="columns">
    <div class="column is-one-third is-offset-3">
      <h1 class="title is-3"> Add A New Chatroom</h1>

      <%= render 'form', room: @room %>



    </div>
  </div>
</section>
